{% extends 'portfolio/layout.html' %}
{% csrf_token %}
{% block main %}
    <title>Criar Página</title>
    <style>
        /* Estilos CSS para o formulário */
        form {
            margin: 20px;
        }
        label {
            display: block;
            margin-bottom: 10px;
        }
        input[type="text"] {
            width: 300px;
            padding: 5px;
            font-size: 16px;
        }
        input[type="submit"] {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    </style>
    <h1>Criar Página</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Criar Página">
    </form>
{% endblock %}
