{% extends 'portfolio/layout.html' %}

{% block title %}Detalhes do certificado - {{ certificado.nome }}{% endblock %}

{% block main %}
    <section class="certificado-detalhes">
        <h2 class="certificado-nome">{{ certificado.titulo }}</h2>
        <ul class="certificado-info">
            <li class="certificado-info-item">Ano: {{ certificado.certificadoImage }}</li>
        </ul>
        <!-- Verificar se o usuário está autenticado antes de mostrar as opções de editar e remover -->
        {% if user.is_authenticated %}
            <!-- Botões para editar e remover a cadeira -->
            <div class="certificado-opcoes">
                <form method="post" action="{% url 'portfolio:remover_certificado' certificado.id %}">
                    {% csrf_token %}
                    <button class="remover-button" type="submit">Remover Certificado</button>
                </form>
                <a class="editar-link" href="{% url 'portfolio:editar_certificado' certificado.id %}">Editar Certificado</a>
            </div>
        {% endif %}
    </section>

    <style>
        .certificado-detalhes {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 20px;
        }

        .certificado-nome {
            font-size: 28px;
            color: pink;
            margin-bottom: 10px;
        }

        .certificado-info {
            list-style: none;
            padding: 0;
        }

        /* Estilo para a classe 'cadeira-info-item' */
        .certificado-info-item {
            /* Estilos de exemplo - personalize conforme necessário */
            list-style: none; /* Remova os marcadores de lista */
            padding: 10px; /* Espaçamento interno */
            border: 1px solid #ccc; /* Borda com cor cinza claro */
            background-color: #f9f9f9; /* Cor de fundo */
            margin-bottom: 10px; /* Espaçamento inferior */
            display: flex; /* Use display flex para alinhar os elementos internos */
            align-items: center; /* Alinhe verticalmente os elementos internos */
        }

        /* Estilo para a imagem dentro do elemento */
        .cadeira-info-item img {
            /* Estilos para a imagem - personalize conforme necessário */
            max-width: 100px; /* Largura máxima da imagem */
            max-height: 100px; /* Altura máxima da imagem */
            margin-right: 10px; /* Espaçamento à direita da imagem */
        }


        .certificado-opcoes {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .remover-button,
        .editar-link {
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .remover-button {
            background-color: #dc3545;
            color: #fff;
        }

        .remover-button:hover {
            background-color: #c82333;
        }

        .editar-link {
            background-color: #a41515;
            color: #fff;
        }

        .editar-link:hover {
            background-color: #0056b3;
        }

        /* Adicione outros estilos e animações conforme necessário para personalizar sua página. */
    </style>

{% endblock %}
