{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
<section>
    <!-- Código da calculadora -->
    <div class="main">
        <label for="res"></label><input type="text" id="res" value="0" readonly>
        <div class="btn">
            <button onclick="Clear()">AC</button>
            <button onclick="Solve('%')">%</button>
            <button onclick="Back()">←</button>
            <button onclick="Solve('/')">÷</button>
            <button onclick="Solve('7')">7</button>
            <button onclick="Solve('8')">8</button>
            <button onclick="Solve('9')">9</button>
            <button onclick="Solve('*')">×</button>
            <button onclick="Solve('4')">4</button>
            <button onclick="Solve('5')">5</button>
            <button onclick="Solve('6')">6</button>
            <button onclick="Solve('-')">-</button>
            <button onclick="Solve('1')">1</button>
            <button onclick="Solve('2')">2</button>
            <button onclick="Solve('3')">3</button>
            <button onclick="Solve('+')">+</button>
            <button onclick="Solve('0')" style="width: 100%;">0</button>
            <button onclick="Solve('.')">.</button>
            <button class="equal" onclick="Result()">=</button>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'portfolio/js/calculator.js' %}"></script>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{% static 'portfolio/css/calculadoraStyle.css' %}">
{% endblock %}
