{% extends 'portfolio/layout.html' %}
{% load static %}

{% block main %}
    <style>
        * {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        body {
            height: 100%;
            width: 100%;
            background-color: #f0f0f0;
        }

        .hero {
            position: relative;
            background-image: url('{% static "portfolio/images/port3.jpeg" %}');
            background-size: cover;
            background-position: center;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .hero h1 {
            font-size: 36px;
            margin-bottom: 10px;
            color: white;
        }

        .hero p {
            font-size: 24px;
            color: white;
            max-width: 80%;
        }

        .about {
            padding: 50px;
            color: black;
        }

        .about h2 {
            font-size: 36px;
            color: black;
            margin-bottom: 20px;
        }

        .about p {
            font-size: 18px;
            line-height: 1.5;
        }

    </style>

    <section class="hero">
        <div class="parallax-layer"></div>
        <h1>"A tecnologia move o mundo e a humanidade para frente,
            conectando sonhos e possibilidades em uma realidade que nunca poderíamos imaginar."</h1>
    </section>

    <section class="about">
        <article>
            <section id="sobre">
                <p>Olá, meu nome é Betânia Silá e sou uma entusiasta da tecnologia, apaixonada por explorar todas
                    as
                    possibilidades que o mundo digital oferece.
                    Acredito que a tecnologia tem o poder de transformar a maneira como vivemos e trabalhamos, e
                    estou
                    sempre em busca de aprender mais e me manter atualizada sobre as últimas tendências e novidades.
                    Para mim, a tecnologia é muito mais do que apenas gadgets e dispositivos, é uma ferramenta
                    poderosa
                    para impulsionar o progresso e melhorar a vida das pessoas. Estou animada para compartilhar essa
                    paixão com você!
                </p>
                <p>Para saber mais sobre mim, visite <a href="{% url 'portfolio:mais_sobre_mim' %}"
                                                        style="color:rgb(31, 209, 233);">minha outra página!</a></p>
            </section>
        </article>
    </section>

    <section class="about">
        <article>
                <p>Desde sempre, a tecnologia despertou em mim uma paixão sem limites e uma curiosidade insaciável
                    sobre
                    como ela funciona e como pode ser usada para transformar o mundo.
                    Acredito que a Engenharia Informática é a escolha perfeita para transformar essa paixão e
                    curiosidade em conhecimento prático e habilidades técnicas avançadas.
                    Quero me tornar uma engenheira informática para aprender a criar tecnologias inovadoras e
                    usar meu conhecimento para ajudar a tornar o mundo um lugar melhor, mais conectado e mais
                    avançado.
                </p>
        </article>
    </section>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Função para atualizar a posição do parallax
            function updateParallax() {
                var scrollTop = window.pageYOffset;
                var parallaxLayers = document.querySelectorAll('.parallax-layer');
                parallaxLayers.forEach(function (layer) {
                    layer.style.transform = 'translateY(' + (scrollTop * 0.5) + 'px)';
                });
            }

            // Chame a função ao carregar a página e ao rolar a página
            window.addEventListener('load', updateParallax);
            window.addEventListener('scroll', updateParallax);
        });
    </script>
{% endblock main %}
