{% extends 'portfolio/layout.html' %}

{% block title %}Cerificados - Página Moderna{% endblock %}

{% block main %}
    <section class="certificados">
        <h2>Certificados</h2>
        <ul class="certificado-list">
            {% for certificado in certificados %}
                <li class="certificado-item">
                    <a href="{% url 'portfolio:certificado_detalhes' certificado.id %}">
                        <h3 class="certificado-nome">{{ certificado.nome }}</h3>
                        <img src="{{ certificado.certificadoImage.url }}" alt="{{ certificado.nome }}"
                             class="certificado-imagem">

                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Verificar se o usuário está autenticado antes de mostrar as opções de editar e remover -->
        {% if user.is_authenticated %}
            <!-- Botões para editar e remover -->
            <h3>Adicionar Novo Certificado</h3>
            <form class="adicionar-form" method="post" action="{% url 'portfolio:adicionar_certificado' %}">
                {% csrf_token %}
                {{ certificados.as_p }}
                <button class="adicionar-button" type="submit">Adicionar Certificado</button>
            </form>
        {% endif %}
    </section>

    <style>
        .certificados {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 20px;
            text-align: center; /* Centraliza o conteúdo horizontalmente */
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        .certificado-list {
            list-style: none;
            padding: 0;
        }

        .certificado-item {
            margin-bottom: 20px;
        }

        .certificado-nome {
            font-size: 18px;
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .certificado-imagem {
            max-width: 100px; /* Largura máxima da imagem */
            max-height: 100px; /* Altura máxima da imagem */
            border: 1px solid #ccc; /* Borda com cor cinza claro */
            border-radius: 5px; /* Borda arredondada */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra suave */
            margin-right: 10px; /* Espaçamento à direita da imagem */
        }


        .certificado-nome:hover {
            color: #0056b3;
        }

        .adicionar-form {
            margin-top: 20px;
        }

        .adicionar-button {
            background-color: skyblue;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .adicionar-button:hover {
            background-color: #218838;
        }
    </style>

{% endblock %}
