{% extends 'portfolio/layout.html' %}

{% block main %}

    <style>
        .cadeiras-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
        }

        .ano {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .ano h2 {
            margin-bottom: 10px;
        }

        .semestre {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .semestre li {
            margin-bottom: 10px;
        }

        .semestre li a {
            text-decoration: none;
            color: aliceblue;
        }

        .semestre li a:hover {
            color: deepskyblue;
        }

        @media (max-width: 767px) {
            .cadeiras-grid {
                grid-template-columns: 1fr;
            }
        }
    </style>
    <h1>Licenciatura Em Engenharia Informática</h1>
    <div class="cadeiras-grid">
        <div class="ano">
            <h2>1º Ano</h2>
            <ul class="semestre">
                <li>
                    <a href="#">Cadeira 1</a>
                </li>
                <li>
                    <a href="#">Cadeira 2</a>
                </li>
                <li>
                    <a href="#">Cadeira 3</a>
                </li>
            </ul>
        </div>
        <div class="ano">
            <h2>2º Ano</h2>
            <ul class="semestre">
                <li>
                    <a href="#">Cadeira 4</a>
                </li>
                <li>
                    <a href="#">Cadeira 5</a>
                </li>
                <li>
                    <a href="#">Cadeira 6</a>
                </li>
            </ul>
        </div>
        <div class="ano">
            <h2>3º Ano</h2>
            <ul class="semestre">
                <li>
                    <a href="#">Cadeira 7</a>
                </li>
                <li>
                    <a href="#">Cadeira 8</a>
                </li>
                <li>
                    <a href="#">Cadeira 9</a>
                </li>
            </ul>
        </div>
        <!-- Adicione mais blocos 'ano' conforme necessário -->
    </div>
{% endblock main %}

