{% extends 'portfolio/layout.html' %}

{% block title %}Cadeiras - Página Moderna{% endblock %}

{% block main %}
    <section class="cadeiras">
        <h2>Engenharia Informática</h2>
        <ul class="cadeira-list">
            {% for cadeira in cadeiras %}
                <li class="cadeira-item">
                    <a href="{% url 'portfolio:cadeira_detalhes' cadeira.id %}">
                        <h3 class="cadeira-nome">{{ cadeira.nome }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ul>

        <!-- Verificar se o usuário está autenticado antes de mostrar as opções de editar e remover -->
        {% if user.is_authenticated %}
            <!-- Botões para editar e remover a cadeira -->
            <h3>Adicionar Nova Cadeira</h3>
            <form class="adicionar-form" method="post" action="{% url 'portfolio:adicionar_cadeira' %}">
                {% csrf_token %}
                {{ cadeira_form.as_p }}
                <button class="adicionar-button" type="submit">Adicionar Cadeira</button>
            </form>
        {% endif %}
    </section>

    <style>
        .cadeiras {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            margin: 20px;
            text-align: center; /* Centraliza o conteúdo horizontalmente */
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 20px;
        }

        .cadeira-list {
            list-style: none;
            padding: 0;
        }

        .cadeira-item {
            margin-bottom: 20px;
        }

        .cadeira-nome {
            font-size: 18px;
            color: #007bff;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .cadeira-nome:hover {
            color: #0056b3;
        }

        .adicionar-form {
            margin-top: 20px;
        }

        .adicionar-button {
            background-color: skyblue;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .adicionar-button:hover {
            background-color: #218838;
        }
    </style>

{% endblock %}
