{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        .projects-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-gap: 20px;
        }

        .project {
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

        .project:hover {
            transform: translateY(-5px);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Altere conforme necessário */
        }


        @keyframes gradientMove {
            0% {
                background-position: 0% 50%;
            }
            100% {
                background-position: 100% 50%;
            }
        }

        .projects-container:hover .project {
            opacity: 1;
            transform: translateY(0);
        }


        .project img {
            max-width: 100%;
            border-radius: 8px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 24px;
            color: #333;
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            color: #777;
        }

        @media (max-width: 767px) {
            .projects-container {
                grid-template-columns: 1fr;
            }
        }
    </style>

    <div class="projects-container">
        <div class="project">
            <h2>Minesweeper</h2>
            <img src="../../static/portfolio/images/minesweeper.jpg" alt="Minesweeper">
            <p>Minesweeper é um popular jogo de quebra-cabeça baseado em lógica, que desafia os jogadores a revelar células em um campo minado virtual, evitando bombas escondidas.
                O objetivo principal do jogo é limpar o campo sem detonar nenhuma mina. Os jogadores começam com um tabuleiro cheio de células ocultas, algumas das quais contêm bombas e outras estão vazias. À medida que exploram o tabuleiro, cada célula revelada exibe um número que indica quantas bombas estão adjacentes a ela. Os jogadores devem usar essas informações para determinar a localização das bombas e marcar as células suspeitas com bandeiras.
                Estratégia, lógica e a capacidade de dedução são essenciais para evitar explosões e completar o tabuleiro com sucesso. Minesweeper é conhecido por seu desafio intelectual e é uma ótima maneira de testar as habilidades de resolução de problemas dos jogadores.</p>
        </div>

        <div class="project">
            <h2>Não te Constipes</h2>
            <img src="../../static/portfolio/images/naoTeConstipes.jpg" alt="Não Te Constipes">
            <p>Não Te Constipes é um jogo de tabuleiro para dois jogadores, em que cada jogador tem uma família de 4
                pessoas:
                O jogador 1 é dono dos peões identificados pelas letras a, b, ce d.
                O jogador 2 é dono dos peões identificados pelas letras x, y, ze w.
                No início do jogo, os 4 peões de cada jogador estão na sua casa mãe, em lados opostos do tabuleiro. A
                cada jogo, o jogador lança os dados e escolhe apenas um dos seus peões para se movimentar. O peão
                escolhido, avançou o número de casas que saíram no lançamento dos dados.
                O objetivo de cada jogador é fazer com que todos os seus 4 jogadores completem uma volta ao tabuleiro.
                Ganha o primeiro jogador a alcançar esse feito.
                No entanto, se um peão for ultrapassado por um peão da outra família (peão do jogador oponente), fica
                constipado e tem de voltar para a sua casa mãe.
                O peão quando remetido em casa mãe deixa de ficar constipado e pode ser usado normalmente.</p>
        </div>

        <div class="project">
            <h2>Deisiflix</h2>
            <img src="../../static/portfolio/images/deisiflix.jpg" alt="Deisiflix">
            <p>Durante o meu percurso académico, trabalhei num projeto de desenvolvimento de uma aplicação em Java para análise de estatísticas de filmes.
                O objetivo era criar uma aplicação capaz de responder a consultas sobre dados de filmes numa base de dados.
                Desenvolvi funcionalidades que incluíam consultas detalhadas, cálculos estatísticos, geração de relatórios e uma interface amigável.
                Este projeto proporcionou-me a oportunidade de aplicar conhecimentos em Java e análise de dados,
                enquanto explorava o mundo do cinema por meio de estatísticas.
            </p>
        </div>

        <div class="project">
            <h2>Deisi Jungle</h2>
            <img src="../../static/portfolio/images/deisijungle.jpg" alt="Deisiflix">
            <p>Imagine-se numa savana distante, onde os animais decidiram resolver um mistério antigo: Quem é o atleta supremo da selva? Para resolver essa questão, eles organizaram uma série de competições esportivas. O desafio é claro: quem conquistar a maioria das provas será coroado como o Rei da Selva.
                No entanto, a notícia dessas competições chega até Tarzan, que não pode resistir a um desafio. Ele está convencido de que pode facilmente vencer todas as competições. A primeira delas é uma corrida de atletismo.
                Neste emocionante jogo, você assumirá o papel de um dos animais da selva, competindo contra outros em uma pista de atletismo empolgante. Suas habilidades e estratégias serão testadas à medida que você enfrenta uma série de desafios atléticos. Será que você tem o que é preciso para superar a concorrência e se tornar o grande campeão da selva?Imagine-se numa savana distante, onde os animais decidiram resolver um mistério antigo: Quem é o atleta supremo da selva? Para resolver essa questão, eles organizaram uma série de competições esportivas. O desafio é claro: quem conquistar a maioria das provas será coroado como o Rei da Selva.
                No entanto, a notícia dessas competições chega até Tarzan, que não pode resistir a um desafio. Ele está convencido de que pode facilmente vencer todas as competições. A primeira delas é uma corrida de atletismo.
                Neste emocionante jogo, você assumirá o papel de um dos animais da selva, competindo contra outros em uma pista de atletismo empolgante. Suas habilidades e estratégias serão testadas à medida que você enfrenta uma série de desafios atléticos. Será que você tem o que é preciso para superar a concorrência e se tornar o grande campeão da selva?
            </p>
        </div>

        <div class="project">
            <h2>Máquina de Lavar Roupa</h2>
            <img src="../../static/portfolio/images/Arquitetura%20de%20computadores.jpg" alt="Deisiflix">
            <p>Nas aulas de Arquiteturas de Computadores, participei de um projeto empolgante que simulava a automação de uma máquina de lavar roupa. Nesse desafio, nossa tarefa era criar um sistema inteligente capaz de controlar e otimizar todas as etapas do ciclo de lavagem, desde a seleção da carga até o enxágue final.
                Utilizamos os princípios de arquitetura de computadores para projetar uma unidade central de processamento (CPU) que pudesse receber e interpretar comandos de usuário, ajustar as configurações de lavagem com base nas preferências e nas necessidades da roupa e monitorar o progresso do ciclo em tempo real.
                Nossa simulação envolveu a criação de uma interface intuitiva para os usuários, permitindo que eles escolhessem entre diferentes programas de lavagem, ajustassem a temperatura da água, definissem o nível de agitação e até mesmo agendasse inícios de lavagem. O sistema era capaz de tomar decisões inteligentes, como ajustar o tempo de lavagem com base na quantidade de roupa carregada e garantir a eficiência energética durante todo o processo.
                Foi uma experiência valiosa em que aplicamos os conhecimentos de arquitetura de computadores para aprimorar a automação de tarefas diárias, tornando o processo de lavagem de roupas mais conveniente, econômico e eficiente.</p>
        </div>
    </div>
{% endblock %}
