
{% extends 'portfolio/layout.html' %}

{% block main %}
    <form method="post" action="{% url 'quiz:submit_quiz' %}">>
        {% csrf_token %}
        {% for question in questions %}
            <p>{{ question.question_text }}</p>
            {% for choice in question.choice_set.all %}
                <label for="{{ choice }}"></label><label for="{{ choice}}"></label>
                <input type="radio" id="{{ choice}}" name="{{ question.id }}" value="{{ choice.id }}">
                <label for="{{ choice.id }}">{{ choice.choice_text }}</label><br>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
{% endblock main %}
