{% extends 'portfolio/layout.html' %}

{% block main %}
    <style>
        :root {
            --primary-color: white;
            --secondary-color: #f9f9f9;
            --font-family: Arial, sans-serif;
            --font-size: 16px;
            --line-height: 1.5;
        }

        body {
            background-color: var(--secondary-color);
            font-family: var(--font-family);
            font-size: var(--font-size);
            line-height: var(--line-height);
            height: 100%;
            margin: 0;
            padding: 0;
        }

        .maintenance-page {
            background-color: #f8f8f8;
            padding: 20px;
            text-align: center;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            color: #333;
        }

        .maintenance-page h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        /* Estilize a frase "Em Manutenção" como preferir */
        .maintenance-text {
            font-size: 24px;
            font-weight: bold;
            color: #007BFF; /* Cor azul, pode ajustar para sua preferência */
        }
    </style>
    <div class="maintenance-page">
        <h1>Em Manutenção</h1>
        <p class="maintenance-text">Em breve estaremos de volta!</p>
    </div>
{% endblock %}
