/* Estilos para a calculadora */
.calculator-container {
    text-align: center;
    background-color: #282c36;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    width: 320px; /* Largura da calculadora */
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.calculator__display {
    background-color: #1f2129;
    color: #ffffff;
    font-size: 2em; /* Tamanho da fonte do visor */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Quatro colunas na matriz */
    grid-gap: 10px;
}

.calculator-key {
    font-size: 1.5em; /* Tamanho da fonte dos botões */
    padding: 20px;
    background-color: #41464e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

.calculator-key.operator-key {
    background-color: #f2a93b; /* Cor dos botões de operador */
}

.calculator-key:hover {
    background-color: #50555c;
}

.calculator-key:active {
    transform: scale(0.95);
}

/* Estilos para o botão de igual */
.calculator-key.calculate-key {
    background-color: #ff5e5e; /* Cor do botão de igual */
    font-weight: bold;
    color: #ffffff;
}

.calculator-key.calculate-key:hover {
    background-color: #ff7b7b;
}

/* Outros estilos e ajustes de layout conforme necessário */
